@model BudgetingWebApp.Models.MainCategoryModel

@{
    ViewBag.Title = "Delete";
}

<div>
    <h3>Are you sure you want to delete @Model.Name?</h3>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Budget", "Edit", "Budget", new { id = Model.BudgetID }, null)
        </div>
    }
</div>
